/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #EC715F;
  display: flex;
}

.logo {
  height: 70px;
}

.nav-list{
  display: flex;
  text-align: right;
  height: 70px;
}

.nav-list-item {
  font-size: 16px;
  color: #FAFAFA;
  list-style: none;
  padding: 0 30px;
  line-height: 70px;
  height: 70px;
}