/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #EC715F;
  display: flex;
}

nav {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.logo {
  height: 70px;
}

.nav-list{
  display: flex;
  justify-content: flex-end;
  height: 70px;
  text-align: right;
}

.nav-list-item {
  font-size: 16px;
  color: #FAFAFA;
  list-style: none;
  padding: 0 30px;
  line-height: 70px;
  height: 70px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.main-visual-text {
  padding-top: 200px;
  color: #fff; /* 文字色を白に変更 */
  font-size: 64px;
}

.main-visual-text-small {
  margin-top: 10px; /* 上側の外側の余白 */
  font-size: 20px;
  color: #fff; /* 文字色を白に変更 */
}

.background-color {
  width: 100%;
  background-color: #ECEFF1;
}

.portfolio {
  width: 920px;
  padding: 90px 0;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  color: #000000;
  margin-bottom: 8px;
}

.line {
  width: 70px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #ec715f;
}

.portfolio-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.portfolio-images {
  width: 930px;
  height: 510px;
  overflow: hidden;
  letter-spacing: -1em;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.feature {
  width: 980px;
  height: auto;
  padding: 90px 0;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.feature-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.feature-items {
  width: 990px;
  overflow: hidden;
  white-space: nowrap;
}

.feature-item {
  width: 320px;
  display: inline-block;
  margin-right: 10px;
}

.feature-item i {
  display: inline-block;
  size: 60px;
  font-size:60px;
}

.fa-regular {
  text-align: center;
}

.feature-item-heading {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

.feature-item-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.profile {
  width: 1024px;
  padding: 90px 0;
  margin: 90px auto;
  text-align: center
}

.profile-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.profile-items {
  width: 1024px;
  display: flex;
  justify-content: center;
}

.profile-item {
  width: 512px;
  text-align: left;
}

.icon {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius:50%;
  background-image: url("img/my-icon.jpg");
}

.profile-header {
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.profile-item-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
  text-align: left;
}