/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%; /* 横幅いっぱい */
  height: 70px; /* 高さ120px */
  background-color: #EC715F;
  display: flex;
}

nav {
  width: 1024px;
  margin: 0 auto;
  display: flex;
}

.logo {
  height: 70px;
}

.drawer_hidden {
  display: none;
}



.nav-list{
  display: flex;
  justify-content: flex-end;
  height: 70px;
  margin-left: auto;
}

.nav-list-item {
  font-size: 16px;
  color: #FAFAFA;
  list-style: none;
  padding: 0 30px;
  line-height: 70px;
  height: 70px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.main-visual-text {
  padding-top: 200px;
  color: #fafafa; /* 文字色を白に変更 */
  font-size: 64px;
}

.main-visual-text-small {
  margin-top: 10px; /* 上側の外側の余白 */
  font-size: 20px;
  color: #fff; /* 文字色を白に変更 */
}

.background-color {
  width: 100%;
  background-color: #ECEFF1;
}

.portfolio {
  width: 920px;
  padding: 90px 0;
  text-align: center;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  color: #000000;
  margin-bottom: 8px;
}

.line {
  width: 70px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #ec715f;
}

.portfolio-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.portfolio-images {
  width: 930px;
  height: 510px;
  overflow: hidden;
  letter-spacing: -1em;
}

.portfolio-image {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.feature {
  width: 980px;
  height: auto;
  padding: 90px 0 80px;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.feature-text {
  font-size: 16px;
  color: #000000;
  padding: 30px 0;
}

.feature-items {
  width: 990px;
}

.feature-item {
  width: 320px;
  display: inline-block;
  margin-right: 10px;
}

.feature-item i {
  display: inline-block;
  size: 60px;
  font-size:60px;
}

.fa-regular {
  text-align: center;
}

.feature-item-heading {
  font-size: 20px;
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

.feature-item-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.profile {
  width: 1024px;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center
}

.profile-text {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin: 30px 0;
}

.profile-items {
  width: 1024px;
  display: flex;
  justify-content: center;
}

.profile-item {
  width: 512px;
  text-align: left;
}

.icon {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius:50%;
  background-image: url("img/my-icon.jpg");
}

.profile-header {
  font-size: 20px;
  color: #000000;
  margin-bottom: 5px;
}

.profile-item-text {
  font-size: 16px;
  color: #000000;
  margin-bottom: 20px;
  text-align: left;
}

.contact {
  width: 800px;
  padding: 90px 0;
  margin: 0 auto;
  text-align: center
}

.contact-text {
  font-size: 16px;
  color: #000000;
  margin: 30px 0;
}

.contact-items {
  width: 800px;
  display: flex;
  justify-content: center;
}

.contact-item {
  width: 400px;
  text-align: left;
}

.contact-item-heading {
  font-size: 20px;
  margin-bottom: 5px
}

.contact-item-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-item i {
  display: inline-block;
  size: 50px;
  font-size:50px;
  margin-right: 20px;
}

footer {
  width: 100%; /* 横幅いっぱい */
  height: 60px; /* 高さ120px */
  background-color: #EC715F;
  display: flex;
}

.footer-text {
  margin: auto;
  font-size: 16px;
  color: #fafafa;
}

@media screen and (max-width:768px) {

  .header {
    height: 50px;

  }

  nav {
    width: 90%;
    margin: 5px auto;
  }

  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    border: 1px solid #ffffff;
    margin-left: auto;
  }

  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #ffffff;
    transition: 0.5s;
    position: absolute;
  }

  .drawer_open span:before {
    bottom: 8px;
  }

  .drawer_open span:after {
    top: 8px;
  }

  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }

  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  .nav_list {
    list-style: none;
    display: none;
  }

  .nav_content {
  display: none
}


  #nav-drawer {
    display:none;
  }

  .main-visual {
    background-image: url(img/code.png);
  }

  .main-visual-text {
    width: 90%;
    margin: 0 auto;
    font-size: 40px;
  }

  .main-visual-text-small {
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
  }

  .portfolio {
    width: 90%;
  }

  .reduction {
    display: none;
  }

  .portfolio-images {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .portfolio-image {
    margin: 0 auto 10px;
  }

  .feature {
    width: 90%;

  }

  .feature-items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .feature-item {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  
  .feature-item-text {
    overflow-wrap: normal;
  }
  
  .profile {
    width: 90%;
    padding: 90px 0 70px;
  }
  
  .profile-items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .profile-item {
    width: 100%;
    margin: 0 auto 20px;
  }
  
  .contact {
    width: 90%;
  }
  
  .contact-items {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .contact-item {
    width: 100%;
    text-align: center
  }

}

@media screen and (max-width:768px) {
  #nav-drawer {
     display:none;
   }
   
}

@media screen and (min-width:768px) {
  .feature-items {
    overflow: hidden;
    white-space: nowrap;
  }
}